name: e2e

on:
  push:
    branches: [ "*" ]
    paths:
      - '.github/workflows/e2e.yml'
      - 'api/**'
      - 'charts/kamaji/**'
      - 'controllers/**'
      - 'e2e/*'
      - '.ko.yaml'
      - 'go.*'
      - 'main.go'
      - 'Makefile'
      - 'internal/**'
      - 'cmd/**'
  pull_request:
    branches: [ "*" ]
    paths:
      - '.github/workflows/e2e.yml'
      - 'api/**'
      - 'charts/kamaji/**'
      - 'controllers/**'
      - 'e2e/*'
      - '.ko.yaml'
      - 'go.*'
      - 'main.go'
      - 'Makefile'
      - 'internal/**'
      - 'cmd/**'

jobs:
  kind:
    name: Kubernetes
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v5
        with:
          go-version: '1.22'
          check-latest: true
      - run: |
          sudo apt-get update
          sudo apt-get install -y golang-cfssl
          sudo swapoff -a
          sudo modprobe br_netfilter
      - name: e2e testing
        run: make e2e
