name: Helm Chart

on:
  push:
    branches: [ "*" ]
    tags: [ "helm-v*" ]
  pull_request:
    branches: [ "*" ]

jobs:
  diff:
    name: diff
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - run: make -C charts/kamaji docs
      - name: Checking if Helm docs is not aligned
        run: if [[ $(git diff | wc -l) -gt 0 ]]; then echo ">>> Untracked changes have not been committed" && git --no-pager diff && exit 1; fi
  lint:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - uses: azure/setup-helm@v1
        with:
          version: 3.3.4
      - name: Linting Chart
        run: helm lint ./charts/kamaji
  release:
    if: startsWith(github.ref, 'refs/tags/helm-v')
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v2
      - name: Publish Helm chart
        uses: stefanprodan/helm-gh-pages@master
        with:
          token: ${{ secrets.BOT_GITHUB_TOKEN }}
          charts_dir: charts
          charts_url: https://clastix.github.io/charts
          owner: clastix
          repository: charts
          branch: gh-pages
          target_dir: .
          commit_username: prometherion
          commit_email: dario@tranchitella.eu
