name: Container image build

on:
  push:
    tags:
      - edge-*
      - v*
    branches:
      - main
  workflow_dispatch:
    inputs:
      tag:
        description: "Tag to build"
        required: true
        type: string

env:
  TAG: ${{ github.event.inputs.tag || github.ref_name }}

jobs:
  ko:
    runs-on: ubuntu-22.04
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - uses: actions/setup-go@v6
        with:
          go-version-file: go.mod
      - name: "ko: install"
        run: make ko
      - name: "ko: login to quay.io container registry"
        run: ./bin/ko login quay.io -u ${{ secrets.QUAY_IO_USERNAME }} -p ${{ secrets.QUAY_IO_TOKEN }}
      - name: "ko: login to docker.io container registry"
        run: ./bin/ko login docker.io -u ${{ secrets.DOCKER_IO_USERNAME }} -p ${{ secrets.DOCKER_IO_TOKEN }}
      - name: "ko: build and push tag"
        run: CONTAINER_REPOSITORY=quay.io/platform9/kamaji make VERSION=${{ env.TAG }} KO_LOCAL=false KO_PUSH=true build
        if: github.event_name == 'workflow_dispatch' || (github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v'))
      - name: "ko: build and push latest"
        run: CONTAINER_REPOSITORY=quay.io/platform9/kamaji make VERSION=latest KO_LOCAL=false KO_PUSH=true build
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
